body
{
    margin: 10px 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: #dea ;

}
#avancee{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    position:relative;
    top: -50px;
    right:10px;
}
div#conteneur
{
    width: 1000px ;
    margin: 0 auto ;
    text-align: left ;
    border: 2px solid #ab4 ;
    background: #fff ;
    background-image:url(prairie2.jpg);
}

h1#header
{
    height: 270px;
    background: url(Logo.png) no-repeat left top;
    margin: 0px ;
}

h1#header a
{
    width: 500px ;
    height: 150px ;
    display: block ;
    background: url(Logo2.png) no-repeat ;
    position: relative ;
    left: 300px ;
    top: 10px ;
    text-indent: -5000px ;
}
p#pseudo
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
    position:relative;
    top: -250px;
    right:30px;
}
p#mdp
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
    position:relative;
    top:-250px;
    right:30px;
}
p#bouton 
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right; ;
    color: #8a0 ;
    position:relative;
    top:-250px;
    right:30px;

}
div#forum
{
    position:relative;
    top:-200px;
    right:-890px;
}
h2#t
{
    position:relative;
    top:-20;
    right:-10;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 20px;
    color:red;
}

div#searchbar
{
    position:relative; 
    padding-right: 0px ;
    text-align: center;
    width:1040px; 
    height:0;
    color: #8a0 ;
    top : -200;
    right:0;
    top:-198.5px;

}
ul#menu
{
    height: 50px ;
    margin: 0 ;
    padding: 0 ;
    background: url(bg_menu.gif) repeat-x 0 -25px ;
    list-style-type: none ;
}
ul#menu li
{
    float: left; 
    text-align: center ;
}
ul#menu li a
{
    width: 160px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #fff ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid #dea ;
}
ul#menu li a:hover
{
    background: url(bg_menu.gif) repeat-x 0 0 ;
    text-align: center;
}

table
{
    border-collapse: collapse;
    background-image:url(Fond.png);
}
tr#mangue{
        line-height:100px;
        width:100px;
}
td, th 
{
    text-align: center;
}
div#contenu h2
{
    padding-left: 25px ;
    line-height: 25px ;
    font-size: 1.4em ;
    background: url(little_apple.gif) no-repeat left bottom ;
    color: #9b2 ;
    border-bottom: 1px solid #9b2 ;
}

div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #9b2 ;
}

div#contenu p
{
    text-align: justify ;
    text-indent: 2em ;
    line-height: 1.7em ;
}

div#contenu a
{
    color: #8a0 ;
}

div#contenu a:hover
{
    color: #9b2 ;
}

ul#Basdepage
{
    height: 50px ;
    margin: auto;
    padding: auto ;
    background: url(bg_menu.gif) repeat-x 0 -25px ;
    list-style-type: none ;
}
ul#Basdepage li
{
    float: left; 
    text-align: center ;
}
ul#Basdepage li a
{
    width: 180px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #fff ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid #dea ;
}
ul#Basdepage li a:hover
{
    background: url(bg_menu.gif) repeat-x 0 0 ;
    text-align: center;
}

pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

pre span
{
    color: #560 ;
}

pre span.comment
{
    color: #b30000 ;
}
