h1{
    
    background-image:url(Fond.png);
    text-align: center;
   
}

span
{
    font-family: sans-serif;
    font-size: 20px;
}

div#corps
{
    background-image:url(Fond.png);
    
}
p#pseudo
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 3px ;
    text-align: right ;
    color: white ;
    position:relative;
    top: -250;
    right:30;
}
p#mdp
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: white;
    position:relative;
    top:-250;
    right:30;
}
p#bouton 
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;

}

a#inscription{
    width: 10px;
    color: white;
    
}
table#hd{
    position: relative;
    top:-247px;
    left: 1010px;
    background: transparent;
}

