div#conteneur
{
    height: 1190px;
}
#onglets
{
    font-family:  "apple chancery";
    list-style-type : none;
    padding-bottom : 48px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    top : -20px;
    left : 250px;
    position: relative;
    width:800px;
}
#onglets li
{
    float : left;
    height : 80px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    margin : 3px 3px 0 3px !important;  /* Pour les navigateurs autre que IE */
}
#onglets li.active
{
    border-bottom: 1px solid green;
    background-color: green;
    border-radius: 5px 10px 0 5px;
}
#onglets a
{
    display : block;
    color : orange;
    text-decoration : none;
    padding : 10px 10px;
    font-size: 35px;
    display: block;
}
#Basdepage
{
    font-family:  "apple chancery";
    list-style-type : none;
    padding-bottom : 47px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    margin: 0 auto;
    top : -20px;
    left : 20px;
    position: relative;
    width: 1000px;
}
#Basdepage li
{
    float : left;
    margin : 5px 5px 5px 5px !important;  /* Pour les navigateurs autre que IE */
}
#Basdepage a
{
    display : block;
    color : orange;
    text-decoration : none;
    padding : 20px;
    font-size: 35px;
    display: block;
}
div#corps
{
    border-collapse: none;
    background-image:url(Fon.png);
    padding-left: 30px;
}
h2{
    left : 10px;
    position: relative;
}
