header {
    height: 320px;
}
span#prix
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -15px ;

}
span#photo
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -45px ;

}
span
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -140px ;

}
span#region
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -235px ;

}
span#description
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -345px ;

}

p#pseudo
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 3px ;
    text-align: right ;
    color: white ;
    position:relative;
    top: -250;
    right:30;
}
p#mdp
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: white;
    position:relative;
    top:-250;
    right:30;
}
p#bouton 
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;

}

a#inscription{
    width: 10px;
    color: white;
    
}
div#forum
{
    position:relative;
    top:-200;
    right:-1090px;
    width: 10px;
}
a#fo{
    color:orange;
    text-align: center;
}
h2#t
{
    position:relative;
    top:-20px;
    right:-25px;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 20px;
    width: 10px;
    color: white;
}

div#searchbar
{
    position:relative; 
    padding-right: 0px ;
    text-align: center;
    width:1040px; 
    height:0;
    color: #8a0 ;
    top : -250;
    left: 55px;

}
a#ra{
    position:relative; 
    padding-right: 0px ;
    text-align: center;
    width:1040px; 
    height:0;
    color: white ;
    top : -220;
    left:600px;
}
#onglets
{
    font-family:  "apple chancery";
    list-style-type : none;
    padding-bottom : 48px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    top : -20px;
    left : 130px;
    position: relative;
    width:850px;
}
#onglets li
{
    float : left;
    height : 80px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    margin : 3px 3px 0 3px !important;  /* Pour les navigateurs autre que IE */
}
#onglets li.active
{
    border-bottom: 1px solid green;
    background-color: green;
    border-radius: 5px 10px 0 5px;
}
#onglets a
{
    display : block;
    color : orange;
    text-decoration : none;
    padding : 10px 10px;
    font-size: 35px;
    display: block;
}
#Basdepage
{
    font-family:  "apple chancery";
    list-style-type : none;
    padding-bottom : 47px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    margin: 0 auto;
    top : -20px;
    left : 20px;
    position: relative;
    width: 1000px;
}
#Basdepage li
{
    float : left;
    margin : 5px 5px 5px 5px !important;  /* Pour les navigateurs autre que IE */
}
#Basdepage a
{
    display : block;
    color : orange;
    text-decoration : none;
    padding : 20px;
    font-size: 35px;
    display: block;
}
table
{
    border-collapse: collapse;
    background-image:url(Fond.png);
    
}
td /* Mettre une bordure sur les td ET les th */
{
    text-align: center;
}
div#fon{
       background-image:url(Fond.png);
}
#qt{
    width:35px;
    position: relative;
    left:15px;
}
td#dep{
    position: relative;
    left: 50px;
}
table#hd{
    position: relative;
    top:-247px;
    left: 1010px;
    background: transparent;
}

div#plandusite{
    position: relative;
    font-size: 20px;
    text-align: center;
    background-image:url(Fond.png);
}