div#conteneur1 {
    width: 1200px;
    margin: 0px auto;
    border: 2px solid #AB4;
    background: #FFF url("tomates3.jpg") repeat scroll 0% 0%;
    height: 1190px;
}
h1#header
{
    height: 270px;
    background: url(Logo.png) no-repeat left top;
    margin: 0 ;
    position: relative ;
    left: 40px ;
    top: 20px ;
    width: 900px;
}
h1#header a
{
    width: 400px ;
    height: 150px ;
    display: block ;
    background: url(Logo2.png) no-repeat ;
    position: relative ;
    left: 340px ;
    top: 10px ;
    text-indent: -5000px ;
}

header {
    height: 320px;
}
span#prix1
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: 0px ;

}
span#photo1
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: 0px ;

}
span#quant1
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -50px ;

}
span#region1
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -150px ;

}
span#description1
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -270px ;

}
span#soustotal1
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -375px ;

}
span#prix
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -15px ;

}
span#photo
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -5px ;

}
span#quant
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -100px ;

}
span#region
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -275px ;

}
span#description
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -467px ;

}

p#pseudo
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 3px ;
    text-align: right ;
    color: white ;
    position:relative;
    top: -250;
    right:30;
}
p#mdp
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: white;
    position:relative;
    top:-250;
    right:30;
}
p#bouton 
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;

}

a#inscription{
    width: 10px;
    color: white;
    
}
div#forum
{
    position:relative;
    top:-200;
    right:-1090px;
    width: 10px;
}
a#fo{
    color:orange;
    text-align: center;
}
h2#t
{
    position:relative;
    top:-20px;
    right:-25px;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 20px;
    width: 10px;
    color: white;
}

div#searchbar
{
    position:relative; 
    padding-right: 0px ;
    text-align: center;
    width:1040px; 
    height:0;
    color: #8a0 ;
    top : -250;
    left: 55px;

}
a#ra{
    position:relative; 
    padding-right: 0px ;
    text-align: center;
    width:1040px; 
    height:0;
    color: white ;
    top : -220;
    left:600px;
}
table
{
    border-collapse: collapse;
    background-image:url(Fond.png);
    
}
div#fon{
       background-image:url(Fond.png);
}
td /* Mettre une bordure sur les td ET les th */
{
    text-align: center;
}

td#dep{
    position: relative;
    left: 2px;
}
table#hd{
    position: relative;
    top:-247px;
    left: 1010px;
    background: transparent;
}
td#qq{
    position: relative;
    left: -46px;
}
td#pho{
    position: relative;
    left: -30px;
}
div#bouton{
     background-image:url(Fond.png);
     text-align: center;
}