h1#forum{
    
    background-image:url(Fond.png);
   
}

span#Sujet
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -10px ;
}

span#Date
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left; 
    position: relative ;
    left: -150px ;
}

span#Auteur
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -150px ;

}

span#Bi_Name
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: 25px ;
}

span#Bi_Date
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -50px ;
}

span#Us_Name
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative ;
    left: -80px ;
}


table
{
    background-image:url(Fond.png);
    
}
td, th /* Mettre une bordure sur les td ET les th */
{
    text-align: center;
}