body
{
    margin: 10px 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: #dea ;

}
div#conteneur
{
    width: 1000px ;
    margin: 0 auto ;
    text-align: left ;
    border: 2px solid #ab4 ;
    background: #fff ;
    background-image:url(prairie2.jpg);
}
h1#header
{
    height: 270px;
    background: url(Logo.png) no-repeat left top;
    margin: 0px ;
}

h1#header a
{
    width: 500px ;
    height: 150px ;
    display: block ;
    background: url(Logo2.png) no-repeat ;
    position: relative ;
    left: 300px ;
    top: 10px ;
    text-indent: -5000px ;
}

table#Michel{
    top:-800px;
     float:right;
     text-align: center;
     line-height:20px;
     width:200px;
     margin: 10px;
     border:2px solid black ;
     background-color:#FFFF66;
     font-family:"Times";
     font-size:15px;
     position:relative;
}


table
{
    border-collapse: collapse;
    background-image:url(Fond.png);
}
td, th /* Mettre une bordure sur les td ET les th */
{
    text-align: center;
}

td#monProfil{
    text-align: center;
    line-height:100px;
     width:200px;
     margin: 10px 0 ;
     border:2px solid black ;
     background-color:#00FFFF;
     font-family:"Times New Roman";
     font-size:55px;}


div#contenu h2
{
    padding-left: 25px ;
    line-height: 25px ;
    font-size: 1.4em ;
    background: url(little_apple.gif) no-repeat left bottom ;
    color: #9b2 ;
    border-bottom: 1px solid #9b2 ;
}

div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #9b2 ;
}

div#contenu p
{
    text-align: justify ;
    text-indent: 2em ;
    line-height: 1.7em ;
}

div#contenu a
{
    color: #8a0 ;
}

div#contenu a:hover
{
    color: #9b2 ;
}

ul#Basdepage
{
    height: 50px ;
    margin: auto;
    padding: auto ;
    background: url(bg_menu.gif) repeat-x 0 -25px ;
    list-style-type: none ;
}
ul#Basdepage li
{
    float: left; 
    text-align: center ;
}
ul#Basdepage li a
{
    width: 180px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #fff ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid #dea ;
}
ul#Basdepage li a:hover
{
    background: url(bg_menu.gif) repeat-x 0 0 ;
    text-align: center;
}

ul #basDePageMaisPasTrop{
    float: left; 
    text-align: center ;
}
ul#basDePageMaisPasTrop li
{
    float: left; 
    text-align: center ;
}
ul#basDePageMaisPasTrop li a
{
    width: 180px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #fff ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid #dea ;
}
ul#basDePageMaisPasTrop li a:hover
{
    background: url(bg_menu.gif) repeat-x 0 0 ;
    text-align: center;
}

pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

pre span
{
    color: #560 ;
}

pre span.comment
{
    color: #b30000 ;
}