body
{
    margin: 10px 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: #dea ;
   } 

div#conteneur
{
    width: 1000px ;
    margin: 0 auto ;
    text-align: left ;
    border: 2px solid #ab4 ;
    background: #fff ;
    background-image:url(prairie2.jpg);
}


h1#header
{
    height: 270px;
    background: url(Logo.png) no-repeat left top;
    margin: 0px ;
}

h1#header a
{
    width: 500px ;
    height: 150px ;
    display: block ;
    background: url(Logo2.png) no-repeat ;
    position: relative ;
    left: 300px ;
    top: 10px ;
    text-indent: -5000px ;
}

p#pseudo
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
    position:relative;
    top: -250px;
    right:30px;
}

p#mdp
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
    position:relative;
    top:-250px;
    right:30px;
}

p#bouton 
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right; ;
    color: #8a0 ;
    position:relative;
    top:-250px;
    right:30px;}

#searchbar
{
    position:relative; 
    padding-right: 0px ;
    text-align: center;
    width:1040px; 
    height:0;
    color: #8a0 ;
    top : -200;
    right:0;
    top:-34.5px;}


ul#Basdepage
{
    height: 50px ;
    margin: auto;
    padding: auto ;
    background: url(bg_menu.gif) repeat-x 0 -25px ;
    list-style-type: none ;
}
ul#Basdepage li
{
    float: left; 
    text-align: center ;
}
ul#Basdepage li a
{
    width: 180px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #fff ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid #dea ;
}
ul#Basdepage li a:hover
{
    background: url(bg_menu.gif) repeat-x 0 0 ;
    text-align: center;
}

table
{
    border-collapse: collapse;
    background-image:url(Fond.png);
    margin: 0 auto;
    width:700px;
    height:50px;
}

td#Titrefoire{
    text-align: center;
    line-height:100px;
     width:200px;
     margin: 10px 0 ;
     border:2px solid black ;
     background-color:#FFFF66;
     font-family:"Lucida Calligraphy";
     font-size:55px;


}

#pagePrincipale{
margin:auto;


}

#Cadre1{
    position: relative;
	border:2px solid black;
    margin:auto;
    width: 1000px;
    height:10px;
}

#commenconsParLeCommencement{
background-color:#98FB98;
text-align:left;
line-height:70px;
}
#question1{
    background-color:#98FB98;
    text-align:left;
    line-height:70px;
}
#question2{
    background-color:#98FB98;
    text-align:left;
    line-height:70px;
}

#question3{
    background-color:#98FB98;
    text-align:left;
    line-height:70px;
}

#question4{
    background-color:#98FB98;
    text-align:left;
    line-height:70px;
}
#etEncoreUneQuestion{

    background-color:#98FB98;
    text-align:left;
    line-height:70px;
}

#allezCourage{
    background-color:#98FB98;
    text-align:left;
    line-height:70px;
}

#fini{
    background-color:#98FB98;
    text-align:left;
    line-height:70px;

}
